.grid-photo {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 18px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000;
  box-sizing: border-box;
}

@media screen and (max-width: 910px) {
  .grid-photo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .grid-photo {
    grid-template-columns: repeat(1, 1fr);
  }
}
